<div class="log-in-form">
    <form [formGroup]="form" class="form-container">
        <div class="form-header">
            <img src="assets/logo_64.png" alt="logo"><h3>ManageMe!</h3>
        </div>
        <div class="form-row">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" formControlName="username" placeholder="john@doe.com">
        </div>
        <div class="form-row">
            <label for="username">Password</label>
            <input type="password" id="password" name="password" formControlName="password" placeholder="password">
        </div>
        <div>
            <button (click)="logIn()" class="button">Log In</button>
        </div>
        <p class="error-message">
            {{errorMessage}}
        </p>
    </form>
</div>