@import '../../../variables.scss';

.scroll-top-button {
    position: fixed;
    bottom: 35px;
    right: 35px;
    height: 35px;
    width: 35px;
    background-color: $darkPurple;
    border-radius: 5px;
    border: none;
    color: $white;
    line-height: 35px;
    text-align: center;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}
