@import '../../../../variables.scss';

.user-form {
    display: flex;
    justify-content: center;
    margin-top: 5px;

    .form-wrapper {
        width: 80%;

        .action-buttons {
            width: 100%;
            text-align: right;
        }

        .form-row {
            display: flex;
            flex-direction: row;

            .form-column {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: 5px;
            }
        }
    }

    .passwordIcon {
        position: relative;
        top:-30px;
        right: -95%;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
        margin: 0px;
    }
}