<div class="user-form">
    <div class="form-wrapper">
        <div class="action-buttons">
            <button *ngIf="editorMode" class="button">Create</button>
            <button *ngIf="!editorMode" class="button">Save</button>
        </div>
        <form>
            <h3>User details:</h3>
            <div class="form-row">
                <div class="form-column">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="John">
                </div>
                <div class="form-column">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" placeholder="Doe">
                </div>
            </div>

            <h3>Creditendials: </h3>
            <div class="form-row">
                <div class="form-column">
                    <label for="username">Username</label>
                    <input type="username" name="username" placeholder="johndoe">
                </div>
                <div class="form-column">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="********">
                </div>
            </div>

            <h3>Roles:</h3>
            <div class="form-row">
                <div class="form-column">
                    <label for="roles">User role</label>
                    <select name="roles">
                        <option value="{key: 'fe12', name: 'Devops'}">Devops</option>
                        <option value="{key: 'fe10', name: 'Admin'}">Admin</option>
                        <option value="{key: 'fe11', name: 'Developer'}">Developer</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>