@import '../../../../variables.scss';

.user-form {
    display: flex;
    justify-content: center;
    margin-top: 5px;

    .form-wrapper {
        width: 80%;

        .user-profile-icon {
            height: 64px;
            width: 64px;
            background-color: $lightPurple;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
            color: $white;
        }
    
        .user-header {
            height: 64px;
            display: flex;
            align-items: center;
            font-size: xx-large;
            margin-left: 25px;
        }
    
        .user-role {
            color: $lightGray;
        }

        .action-buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            a {
                text-decoration: none;
            }
    
            div {
                height: 35px;
                width: 35px;
                margin: 0px 5px 0px 5px;
                cursor: pointer;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-size: 16px;
                overflow: hidden;
                transition: 0.3s ease-in-out;
    
                span {
                    display: none;
                }
    
                &.delete {
                    color: $dangerColor;
                    border: 1px solid $dangerColor;
    
                    &:hover {
                        background-color: $dangerColor;
                        color: $white;
                    }
                }
    
                &.edit {
                    color: $warningColor;
                    border: 1px solid $warningColor;
    
                    &:hover {
                        background-color: $warningColor;
                        color: $white;
                    }
                }
    
                &.info {
                    color: $infoColor;
                    border: 1px solid $infoColor;
    
                    &:hover {
                        background-color: $infoColor;
                        color: $white;
                    }
                }
    
                &:hover {
                    width: 100px;
                    
                    span {
                        display: block;
                        margin-right: 5px;
                    }
                }
            }
        }

        .form-row {
            display: flex;
            flex-direction: row;

            .form-column {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: 5px;

                label {
                    color: $lightPurple;
                    font-weight: 600;
                }

                .password {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    .user-password {
                        width: 80%;
                    }
    
                    .password-icon {
                        width: 30px;
                    }
                }
            }
        }
    }

    .passwordIcon {
        position: relative;
        top:-25px;
        right: -0%;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}