<div class="navigation" *ngIf="this.authService.isUserLoggedIn|async">
    <div class="logo-container">
        <a routerLink="">
            <img src="assets/logo_32.png" alt="logo_image">
        </a>
    </div>
    <div class="links-container">
        <ul class="links">
            <li class="link">
                <a routerLink="" routerLinkActive="active-link">Home</a>
            </li>
            <li class="link" *ngIf="roleAdmin">
                <a routerLink="users" routerLinkActive="active-link">Users</a>
            </li>
            <li class="link">
                <a routerLink="projects" routerLinkActive="active-link">Projects</a>
            </li>
            <li class="link">
                <a routerLink="functionalities" routerLinkActive="active-link">Functionalities</a>
            </li>
            <li class="link">
                <a routerLink="tasks" routerLinkActive="active-link">Tasks</a>
            </li>
            <li class="link">
                <a routerLink="khanban" routerLinkActive="active-link">Khanban</a>
            </li>
        </ul>
    </div>
    <div class="actions-container">
        <select class="project-select-div" (change)="updateWorkingProject()" id="projectSelectBox">
            <option *ngFor="let project of projects" value="{{project.key}}" [attr.selected]="selectedProjectKey == project.key ? 'selected' : null">{{ project.title }}</option>
        </select>

        <img src="assets/logout_image.png" alt="logout_image"  *ngIf="true == true" (click)="logOut()" class="logout">
    </div>
</div>