.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .user-list {
        width: 80%;
    }

    .user-actions {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }
}