<div class="wrapper actions">
    <div class="functionality-actions">
        <a routerLink="add" *ngIf="displayAction">
            <button class="button">
                Create functionality
            </button>
        </a>
    </div>
</div>
<div class="wrapper">
    <div class="list">
        <div *ngIf="waitingFunctionalities.length > 0" class="functionalities-conatainer">
            <label>Waiting</label>
            <app-functionality-card *ngFor="let functionality of waitingFunctionalities" [functionality]="functionality"></app-functionality-card>
        </div>
        <div *ngIf="doingFunctionalities.length > 0"  class="functionalities-conatainer">
            <label>Doing</label>
            <app-functionality-card *ngFor="let functionality of doingFunctionalities" [functionality]="functionality"></app-functionality-card>
        </div>
        <div *ngIf="doneFunctionalities.length > 0"  class="functionalities-conatainer">
            <label>Done</label>
            <app-functionality-card *ngFor="let functionality of doneFunctionalities" [functionality]="functionality"></app-functionality-card>
        </div>
    </div>
</div>