<div class="project-form">
    <div class="form-wrapper">
        <div class="action-buttons">
            <a routerLink="../../edit/{{project.key}}" [state]="project" *ngIf="displayAction">
                <div class="edit">
                    <span>Edit</span>
                    <fa-icon [icon]="editIcon"></fa-icon>
                </div>
            </a>
            <div class="delete" (click)="deleteProject()" *ngIf="displayAction">
                <span>Delete</span>
                <fa-icon [icon]="deleteIcon"></fa-icon>
            </div>
        </div>
        <div>
            <h3>Project Description</h3>
            <div class="form-row">
                <div class="form-column col-100">
                    <label for="name">Title</label>
                    <div>{{ project.title }}</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column col-100">
                    <label for="name">Description</label>
                    <div>{{ project.description }}</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column col-100">
                    <label for="name">Time in total</label>
                    <div>{{ timeToDone + doneTime }}</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column col-100">
                    <label for="name">Done time</label>
                    <div>{{ doneTime }}</div>
                </div>
            </div>

            <h3>Project Tasks</h3>
            <div class="form-row">  
                <div class="form-column">
                    <label for="name">Functionalities: </label>
                    <div *ngFor="let functionality of functionalities">
                        <a routerLink="/functionalities/detail/{{functionality.key}}" class="functionality-link">
                            <div class="funtionality-container">
                                <div class="title">
                                    {{functionality.title}}
                                </div>
                                <div>
                                    <app-status-badge [status]="functionality.status"></app-status-badge>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="form-column">
                    <label for="name">Tasks: </label>
                    <div *ngFor="let task of tasks">
                        <app-task-card-large [task]="task"></app-task-card-large>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>