<div class="functionality-card">
    <div class="info">
        <div class="title">{{functionality.title}}</div>
        <div class="owner">
            <app-user-feature *ngIf="owner" [user]="owner"></app-user-feature>
        </div>
        <div class="status">
            <app-status-badge [status]="functionality.status"></app-status-badge>
        </div>
        <div class="project-name">
            {{project?.title}}
        </div>
    </div>
    <div class="actions">
        <a routerLink='detail/{{functionality.key}}'>
            <div class="info">
                <span>Detail</span>
                <fa-icon [icon]="infoIcon"></fa-icon>
            </div>
        </a>
        <a routerLink="edit/{{functionality.key}}" [state]="functionality" *ngIf="displayAciotns">
            <div class="edit">
                <span>Edit</span>
                <fa-icon [icon]="editIcon"></fa-icon>
            </div>
        </a>
        <div class="delete" (click)="deleteFunctionality()" *ngIf="displayAciotns">
            <span>Delete</span>
            <fa-icon [icon]="deleteIcon"></fa-icon>
        </div>
    </div>
</div>