<div class="wrapper actions">
    <div class="work-actions">
    </div>
</div>
<div class="wrapper work-detail">
    <div class="khanban-board">
        <div class="column">
            <h3>On Hold</h3>
            <div class="tasks-wrapper">
                <app-task-card *ngFor="let task of onHoldTasks" [task]="task"></app-task-card>
            </div>
        </div>
        <div class="column">
            <h3>In Proggress</h3>
            <div class="tasks-wrapper">
                <app-task-card *ngFor="let task of inProgressTasks" [task]="task"></app-task-card>
            </div>
        </div>
        <div class="column">
            <h3>Done</h3>
            <div class="tasks-wrapper">
                <app-task-card *ngFor="let task of finishedTasks" [task]="task"></app-task-card>
            </div>
        </div>    
    </div>
</div>
